header {
    height: 104px;
    width: 100%;
    background: var(--white);
    z-index: 3;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.432);
}

header .header-item {
    color: var(--gray7);
    border-bottom: 2px solid var(--white);
    font-size: 1.2rem;
    transition: 500ms;
}

header .header-item.active,
header .header-item:hover {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

header .call {
    color: var(--gray7);
    font-size: 1.1rem;
}

header .call svg {
    width: 25px;
    height: 25px;
}

.btn--primary {
    border: 0;
    outline: none;
    background: var(--primary);
    color: var(--white);
    border-radius: 5px;
    padding: 9px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn--primary svg {
    width: 16px;
    height: 16px;
}

.mobile-header svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.mobile-header svg.mobile-user {
    color: var(--shade2);
    background: var(--tint1);
    padding: 5px;
    border-radius: 5px;
}

header .mobile-logo {
    width: 100px;
}

@media screen and (max-width: 992px) {
    header {
        height: 60px;
    }
}